<footer>
  <small>
    The original project is maintained by <a href="https://www.danurbanowicz.com">Dan Urbanowicz</a>.
    Check out the <a href="{{ pkg.repository.url }}">source here</a>. The <a href="https://github.com/fubits1/11ty-multilang-i18n">i18n-mod</a> by @fubits <a href="https://github.com/fubits1/11ty-multilang-i18n">is here</a>
  </small>
</footer>
